# Created by .ignore support plugin (hsz.mobi)

*.class
*.xml
*.iml
.gitignore
.idea/.gitignore
.idea/kotlinc.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
javaBasics.iml
out/
.idea/vcs.xml

